# Lecture-1: Variables, expressions and statements

### Print statements

In [1]:
print('Hello, Python')

Hello, Python

In [2]:
print("Hello, Python")

Hello, Python

In [3]:
print('''Hello, Python''')

Hello, Python

In [4]:
print("""Hello, Python""")

Hello, Python

In [5]:
print('Hello, "Rajkumar"')

Hello, "Rajkumar"

### Interpreter

In [6]:
2+3

5

In [9]:
2+3*2

8

In [11]:
print(2 + 3 * 2)

8

### Values and data types

values: 100, 2.3, "hello"

type() - to know data types

In [12]:
type(100)

int

In [13]:
type(2.3)

float

In [14]:
type("hello")

str

In [15]:
type("10.5")

str

### Variables

In [16]:
# Creation
mesg = 'hello'
age = 25
salary = 10000.00

In [17]:
# Let us evaluate
mesg

'hello'

In [18]:
age

25

In [19]:
salary

10000.0

In [20]:
15 = n

SyntaxError: can't assign to literal (<ipython-input-20-082902cd0ba1>, line 1)

In [21]:
# same var name to different values, no complaints
name = 'raj'
name

'raj'

In [22]:
name=35
name

35

In [70]:
a, b = 10, 20 # multiple assignments
print(a, b)

10 20

In [71]:
# can you swap a and b using multiple assignments?
a, b = b, a
print(a, b)

20 10

### help

In [23]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

### Statements

A statement is an instruction that the Python interpreter can execute

In [24]:
# Expressions
a = 10 * 2
n = len('hello')

In [25]:
# evaluation of expressions
a

20

In [26]:
n

5

Operators

In [1]:
a = 10
b = 5
a+b

15

In [28]:
print(a+b)

15

In [29]:
print(a/b) # floating point division in Python3

2.0

In [30]:
print(a%b)

0

In [31]:
print(a ** b)

100000

In [32]:
print(7 // 4) # floor division, integer division

1

#### Example: Variables and names

In [61]:
cars = 100
space_in_a_car = 4.0
drivers = 30
passengers = 90
cars_not_driven = cars - drivers
cars_driven = drivers
carpool_capacity = cars_driven * space_in_a_car
average_passengers_per_car = passengers / cars_driven

print("There are", cars, "cars available.")
print("There are only", drivers, "drivers available.")
print("There will be", cars_not_driven, "empty cars today.")
print("We can transport", carpool_capacity, "people today.")
print("We have", passengers, "to carpool today.")
print("We need to put about", average_passengers_per_car,
"in each car.")

There are 100 cars available.
There are only 30 drivers available.
There will be 70 empty cars today.
We can transport 120.0 people today.
We have 90 to carpool today.
We need to put about 3.0 in each car.

#### Type Conversion functions

int(), float(), str()

In [33]:
int(10.5)

10

In [34]:
int(10.9999) # no rounding

10

In [35]:
int("123")

123

In [36]:
int(-3.9999)

-3

In [37]:
float(12)

12.0

In [38]:
float("12")

12.0

In [39]:
str(10)

'10'

#### Order of operations

Brackets, **, * and /, + and -

In [40]:
print(2 ** 3)

8

In [43]:
print( 2 ** 3 ** 2) # right associative

512

In [44]:
print(2+3*2)

8

In [45]:
msg = 'hi'
print(msg + msg) # concatenation

hihi

In [2]:
a,b='hi',' \t welcome'
print(a+b)

hi 	 welcome

In [46]:
print(msg * 3)

hihihi

#### Example: Guess output manually and run your code

In [59]:
print("I will now count my chickens:")
print("Hens", 25 + 30 / 6)
print("Roosters", 100 - 25 * 3 % 4)
print("Now I will count the eggs:")
print(3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6)
print("Is it true that 3 + 2 < 5 - 7?")
print(3 + 2 < 5 - 7)
print("What is 3 + 2?", 3 + 2)
print("What is 5 - 7?", 5 - 7)
print("Oh, that's why it's False.")
print("How about some more.")
print("Is it greater?", 5 > -2)
print("Is it greater or equal?", 5 >= -2)
print("Is it less or equal?", 5 <= -2)

I will now count my chickens:
Hens 30.0
Roosters 97
Now I will count the eggs:
6.75
Is it true that 3 + 2 < 5 - 7?
False
What is 3 + 2? 5
What is 5 - 7? -2
Oh, that's why it's False.
How about some more.
Is it greater? True
Is it greater or equal? True
Is it less or equal? False

### Reading input values

In [ ]:
name = input()

In [ ]:
name

In [ ]:
print(name)

In [ ]:
name = input('Enter your name: ')

In [54]:
print(name)

raj

#### Area of circle

In [56]:
radius = float(input('Enter radius: '))
area = 3.1415 * radius * radius
print('Area: ', area)

Enter radius: 10
Area:  314.15000000000003

#### Find Hours and mins

In [58]:
total_secs = int(input("How many seconds, in total?: "))
hours = total_secs // 3600
secs_still_remaining = total_secs % 3600
minutes = secs_still_remaining // 60
secs_finally_remaining = secs_still_remaining % 60
print("Hrs=", hours, " mins=", minutes, "secs=", secs_finally_remaining)

How many seconds, in total?: 25000
Hrs= 6  mins= 56 secs= 40

#### Print age and others

In [72]:
age = input("How old are you? ")
height = input("How tall are you? ")
weight = input("How much do you weigh? ")
print(f"So, you're {age} old, {height} tall and {weight} heavy")

How old are you? 25
How tall are you? 165
How much do you weigh? 60
So, you're 25 old, 165 tall and 60 heavy

## Exercises

1. Add parenthesis to the expression 6 * 1 - 2 to change its value from 4 to -6.

2. Evaluate the following numerical expressions in your head, then use the Python interpreter to check your results: 
5 % 2, 9 %5, 15 % 12, 12 % 15, 6 % 6, 0 % 7, 7 % 0

3. You look at the clock and it is exactly 2pm. You set an alarm to go off in 51 hours. At what time does the alarm
go off? (Hint: you could count on your fingers, but this is not what weâ€™re after. If you are tempted to count on
your fingers, change the 51 to 5100.)